.VideoPosterMain {
  width: 95%;
  margin: 50px;
  display: flex;
  flex-direction: column;
}
.VideoDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  margin-top: -1%;
}
.Like {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Like li {
  color: #5f6568;
  /* padding: 20px; */
  font-weight: 10;
  font-style: normal;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.videoBox {
  border-radius: 20px;
  background-color: #fcf7f1;
  width: 90%;
  height: 290px;
  padding: 10px;
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 18px 22px 15px -3px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
  .VideoPosterMain {
    width: 91%;
    margin: auto -20%;
  }
  .videoBox {
    border-radius: 20px;
    background-color: #fcf7f1;
    width: 90%;
    height: 290px;
    padding: 10px;
    margin-left: 10px;
    /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
    box-shadow: 18px 22px 15px -3px rgba(0, 0, 0, 0.1);
  }
  .VideoPosterMain {
    margin-left: -60%;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .VideoPosterMain {
    /* margin-left: 360%; */
    width: 100%;
    margin: 0px;
    /* display: flex; */
    /* flex-direction: column; */
  }
}
