.VideoPosterMain {
  width: 95%;
  margin: 50px;
  display: flex;
  flex-direction: column;
}
.posterVidio p {
}
.videoBox {
  border-radius: 20px;
  background-color: #fcf7f1;
  width: 90%;
  height: 290px;
  padding: 10px;
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 18px 22px 15px -3px rgba(0, 0, 0, 0.1);
}
