.main-fearture{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../Images/Hdrbg.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.text-feature h1{
    font-size: 50px;
    position: absolute;
    margin-top: -10%;
    font-family: 'Aclonica', sans-serif;
}
.text-feature p{
    font-size: 20px;
}
.cta {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.feature-btns{
    margin-top: 30px;
    
}  
.black-box{
    position: absolute;
    margin-top:   -10%;
    margin-left: 15%;
    border-radius: 20px;
    background-color: #3f3f3f;
height: 200px;
width: 1000px;
display: flex;
justify-content: space-around;
align-items: center;
z-index: 3;

}
.frds img{
  width: 330px;
}
.black-text-box h1{
    color: white;
    font-family: 'Aclonica', sans-serif;
}
.black-text-box p{
  color: white;
  font-family: 'Aclonica', sans-serif;
}
.black-box button{
  padding: 12px;
  background-color: #f2b86b;
  border: none;
  border-radius: 10px;
}
.arrow{
  font-weight: 1000;
  font-size: 20px;

}